@font-face {
  font-family: "Lovelo Black";
  src: url("../fonts/Lovelo/Lovelo-Black.woff2") format("woff2"),
    url("../fonts/Lovelo/Lovelo-Black.woff") format("woff");
}

@font-face {
  font-family: "Lovelo Line Bold";
  src: url("../fonts/Lovelo/Lovelo-LineBold.woff2") format("woff2"),
    url("../fonts/Lovelo/Lovelo-LineBold.woff") format("woff");
}

@font-face {
  font-family: "Lovelo Line Light";
  src: url("../fonts/Lovelo/Lovelo-LineLight.woff2") format("woff2"),
    url("../fonts/Lovelo/LovLovelo-LineLight.woff") format("woff");
}

:root {
    --dark-grey: #212121;
    --purple: #4a2573;
}

.container {
    padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--purple);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: white;
}

.logo {
    width: fit-content;
}

.logo img {
    --size: 120px;
    width: var(--size);
    height: var(--size);
}

.logo-title {
    height: 70px;
    background-color: var(--dark-grey);
    font-size: 50px;
    font-family: "Lovelo Line Bold";
}

.logo-subtitle {
    margin-top: 5px;
    height: 45px;
    background-color: var(--dark-grey);
    font-size: 26px;
    font-family: "Lovelo Black";
}

.lovelo-black {
    font-family: "Lovelo Black";
}

#gif404 {
    border: 2px solid black;
    margin: 0px auto;
    width: 404px;
}

#gif404 img {
    width: 400px;
    height: 300px;
}

.credits {
    font-size: 80%;
}

footer {
    width: 100%;
    background-color: #231038;
    position: fixed;
    bottom: 0px;
}

.social-links {
    width: 40%;
    margin: 0px auto;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .logo img {
        --size: 70px;
        width: var(--size);
        height: var(--size);
    }
    
    .logo-title {
        height: 40px;
        background-color: var(--dark-grey);
        font-size: 32px;
        font-family: "Lovelo Line Bold";
    }
    
    .logo-subtitle {
        height: 25px;
        background-color: var(--dark-grey);
        font-size: 16px;
        font-family: "Lovelo Black";
    }

    #gif404 {
        width: 304px;
    }

    #gif404 img {
        width: 300px;
        height: 225px;
    }
<<<<<<< HEAD

    .social-links { width: 80%; }
}
=======
}
>>>>>>> 15920a91b083412f7f541c663bb5fb9b42877d6b
